body{
    background-color: #000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'poppins', sans-serif;
    color: #fff;
    overflow-x: hidden;
}
header{
padding: 80px 20px;
animation: fadeIn 0s ease-in-out forwards;
background-image: url(pexels-postiglioni-421129.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;

}
.logo{
    font-size: 50px;
    color: white;
    font-weight: bold;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex-start;
}

header p{
    font-size: 18px;
    margin: 5px 0;
}
.services{
    padding: 60px 20px;
    text-align: center;
}
.services h2{
    font-size: 36px;
    margin-bottom: 10px;
    color: #ff1493;

}
.services p{
    font-size: 20px;
    color: white;
    margin-bottom: 40px;
}
.service-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 30px;
    padding: 0 20px;
}
.card{
    background-color: black;
    padding: 2rem;
    border-radius: 1rem;
    border: 2px solid white;
    text-align: left;

    
}
.card h3{
    color: #ff1493;
    margin-bottom: 10px;
    font-size: 24px;

}
.card p{
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}
.card:hover{
    border-color: #ff1493;
    transform: translateY(0px) scale(1.02);
}
.hero{
    padding: 100px 50px;
    max-width: 700px;
    animation: fadeInUp 2s ease;

}
.hero h2{
    font-size: 48px;
    color: #ff1493;
    margin-bottom: 20px;
    
}
.hero p{
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
}
.hero:hover{
     border-color: #ff1493;
    transform: translateY(0px) scale(1.02);
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    align-items: center;
}
.menu ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
.menu{
    display: flex;
    gap: 20px;
    list-style: none;
}
.menu a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font: bold;
    transition: color 0.3s ease;
}
.menu a:hover{
    color: #ff1493;
}
.objective{
    font-size: 20px;
    color: white;
    margin: 20px 0;
    text-align: center;
    padding: 20px;
    padding-top: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    margin-bottom: 30px;

}
.objective:hover{
    transform: translateY(0px) scale(1.02);
    border-color: #ff1493;
    
}
.objective h2{
    font-size: 45px;
    margin-bottom: 10px;
    color: white;
}
.objective p{
    font-size: 20px;
    line-height: 1.5;
    color: white;
    margin: 0;


}
.objective h4{
    font-size: 30px;
    margin-top: 20px;
    color: white;
}
    
.objective ul{
    list-style-type: none;
    padding-left: 20px;
    margin: 10px 0;
    font-size: 27px;
}
.process{
    font-size: 20px;
    color: white;
    margin: 20px 0;
    text-align: center;
    background-color: black;
    padding: 15px;
    border: 2px solid white;
    border-radius: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.process h2{
    font-size: 35px;
    margin-bottom: 10px;
    color: #ff1493;
}
.process p{
    font-size: 20px;
    line-height: 1.5;
    color: white;
    margin: 0;
}
.process:hover{
    border-color: #ff1493;

    transform: translateY(0px) scale(1.02);


}


.contact{
    font-size: 20px;
    color: white;
    margin: 20px 0;
    text-align: center;
    background-color: black;
    padding: 15px;
    border-radius: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.contact h2{
    font-size: 35px;
    margin-bottom: 10px;
    color: #ff1493;
}
.contact p{
    font-size: 20px;
    line-height: 1.5;
    color: white;
    margin: 0;
}
.contact a{
    color: #ff1493;
}
form{
    max-width: 500px;
    margin: 20px auto;
    padding: 45px;
    background-color: black;
    border-radius: 20px;
    border: 2px solid #ff69b4;
    box-sizing: border-box;
}
form input, form textarea{
    width: 100%;
    max-width: 100%;
    padding: 15px;
    margin: 10px 0;
    background: transparent;
    border-bottom: 1px solid #ff1493;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    box-sizing: border-box;

    
}
form input[type="submit"]{
    background-color: #ff1493;
    color: white;
    border: none;
    cursor: pointer;
}


main{
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    

    padding: 50px 20px;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 20px auto;  
    width: fit-content;
}
select{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ff1493;
    background: transparent;
    border-bottom: 1px solid #ff1493;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 5px;
    color: white;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    appearance: none;
}
select option{
    padding: 10px;
    background-color: black;
    color: white;
    font-family: 'poppins', sans-serif;
    font-size: 18px;

}

footer{
    text-align: center;
    padding: 20px 10px;
    background-color: #ff1493;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
}
footer p{
    margin: 0;
    font-size: 14px;
}

button{
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #ff1493;
}   


/* Animations */

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    header{
        padding: 40px 20px;
        background-image: url(pexels-postiglioni-421129.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
        
    }
    .objective{
        background: none;
        border: none;
        margin-top: 10px;
    }
    .objective h2{
        color: white
    }
    objective p{
        font-size: 10px;
    }
    .nav-bar{
        flex-direction: column
        align-items: center;
      
    .menu ul{
        flex-direction: column;
        gap: 10px;
        list-style: none;
    }
    .menu{
        flex direction: column;
        gap: 10px;
        padding:10px 0;
        align-items: center;
        
       
    }
    .menu a{
        display: block;
        text-align: center;
        padding: 10px;
    }
        
    .menu.active{
        display: column;
    }
   
    .hero{
        text-align: center;
        max-width: 100%;
        margin: 20px;
    }
    .hero h2{
        font-size: 1.8rem;
        color: #ff1493;

    }
    .hero p{
        font-size: 15pxrem;
        color: #fff;
        margin-top: 10px;
    }

    .service-grid{
        grid-template-columns: 1fr;
        padding: 0 10px;

    }
    form{
        padding: 15px;
        width: 100%;
        box-sizing: border-box;

    }
    form input, form textarea, form select{
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 2px solid #ff1493;
        border-radius: 8px;
        box-sizing: border-box;

    }
    .contact{
        padding: 20px;
        max-width: 90%;
    }
    .objective, .process{
        padding: 20px;
        max-width: 90%;
    }
    .card{
        padding: 1rem;
        border-radius: 1rem;
    }
    .card h3{
        font-size: 20px;
    }
    .card p{
        font-size: 14px;
    }
    .logo{
        font-size: 10px;
        margin-bottom: 10px;
    }
    
    }
    .hero:hover{
        border-color: #ff1493;
        transform: translateY(0px) scale(1.02);
    }


}












